@page "/moodlist"
@using DataAccess
@using MoodMonitor.Data
@inject FileDataAccess fileDataAccess

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (entries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Mood</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in entries)
            {
                <tr>
                    <td>@entry.creation.ToShortDateString()</td>
                    <td>@entry.mood</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MoodEntry>? entries;

    protected override async Task OnInitializedAsync()
    {
        entries = await fileDataAccess.GetAllMoodEntries();
    }
}
