@page "/datamanagement"

<h3>Data Management</h3>

<p>Import/Export to and from a standard format</p>
<p>Select database : (json local, sql, google sheet)</p>
<p>Import MoodHistory export</p>


@code {

}
